/* Change the background of the entire visible page */
body {
    background-color: #fcbee083; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: rgb(174, 188, 252);
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}
 color: darkgreen;
    font-size: 16px;
    font-family: 'Times New Roman', serif;


/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid rgba(129, 192, 250, 0.527); /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
